Source: io.elementary.settings
Section: admin
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgee-0.8-dev (>= 0.5.3),
               libglib2.0-dev (>= 2.26.0),
               libgranite-7-dev,
               libgtk-4-dev,
               libadwaita-1-dev,
               meson,
               valac (>= 0.22)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/switchboard

Package: io.elementary.settings
Architecture: any
Depends: libswitchboard-3-0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Modular Settings Hub
 Settings is a modular system settings hub designed
 for Pantheon desktop.
 .
 It features animated transitions, supports adding or
 removing plugs (settings panels) without recompilation,
 and follows the Human Interface Guidelines of
 elementary OS.

Package: libswitchboard-3-dev
Section: libdevel
Architecture: any
Depends: libswitchboard-3-0 (= ${binary:Version}), ${misc:Depends}
Description: Modular Settings Hub - development files
 Shared library to create plugs (settings panels) for Settings.
 .
 Settings is a modular system settings hub designed
 for Pantheon desktop.
 .
 It features animated transitions, supports adding or
 removing plugs (settings panels) without recompilation,
 and follows the Human Interface Guidelines of
 elementary OS.
 .
 This package contains the header and development files which are
 needed for building Settings plugs.

Package: libswitchboard-3-0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Modular Settings Hub - shared libraries
 Shared library to create plugs (settings panels) for Settings.
 .
 Settings is a modular system settings hub designed
 for Pantheon desktop.
 .
 It features animated transitions, supports adding or
 removing plugs (settings panels) without recompilation,
 and follows the Human Interface Guidelines of
 elementary OS.
 .
 This package contains the shared library required to run the plugs.
