[Desktop Entry]
Type=Application
Version=0.8
Name=System Settings
Comment=Change system and user settings
Exec=switchboard
Icon=preferences-desktop
Terminal=false
Categories=GTK;Administration;
X-GNOME-Gettext-Domain=switchboard
