[Desktop Entry]
Type=Application
Name=System Settings
Comment=Change system and user settings
Exec=switchboard
Icon=preferences-desktop
Terminal=false
Categories=GNOME;GTK;System;
Keywords=Preferences;
X-GNOME-Gettext-Domain=switchboard
